# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

coverage/

# Env files
**/.session_cookies.txt
.env
.env.local
.env.*.local

# Logs
logs
*.log
logs/*
pids
*.pid
*.seed
*.pid.lock

# Editor/OS files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Debug
.debug
